{% load static %}

{% if user.is_authenticated %}

<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		href="{% url 'pages:dashboard' %}">
		<div class="sidebar-brand-icon rotate-n-15">
			{% comment %} <i class="fas fa-laugh-wink"></i> {% endcomment %}
			<i class="fas fa-calculator"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Offers Calculator</div>
	</a>

	<!-- Divider -->
	<hr class="sidebar-divider my-0" />

	<!-- Nav Item - Dashboard -->
	<li class="nav-item active">
		<a class="nav-link" href="{% url 'pages:dashboard' %}">
			<i class="fas fa-fw fa-tachometer-alt"></i>
			<span>Dashboard</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider" />

	<!-- Nav Item - Pages Collapse Menu -->
	<li class="nav-item">
		<a
			class="nav-link collapsed"
			href="#"
			data-toggle="collapse"
			data-target="#collapseTwo"
			aria-expanded="true"
			aria-controls="collapseTwo">
			<i class="fas fa-box-open"></i>
			{% comment %} <i class="fas fa-fw fa-cog"></i> {% endcomment %}
			<span>Products & Ingredients</span>
		</a>
		<div
			id="collapseTwo"
			class="collapse"
			aria-labelledby="headingTwo"
			data-parent="#accordionSidebar">
			<div class="bg-white py-2 collapse-inner rounded">
				<a class="collapse-item" href="{% url 'products:product_list' %}">Products</a>
				<a class="collapse-item" href="{% url 'products:ingredient_list' %}">Ingredients</a>
			</div>
		</div>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>

{% else %}

<ul
	class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
	id="accordionSidebar">
	<!-- Sidebar - Brand -->
	<a
		class="sidebar-brand d-flex align-items-center justify-content-center"
		href="{% url 'pages:index' %}">
		<div class="sidebar-brand-icon rotate-n-15">
			{% comment %} <i class="fas fa-laugh-wink"></i> {% endcomment %}
			<i class="fas fa-calculator"></i>
		</div>
		<div class="sidebar-brand-text mx-3">Offers Calculator</div>
	</a>

	<!-- Nav Item - About us -->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'pages:index' %}">
			<i class="fas fa-fw fa-home"></i>
			<span>Home</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Nav Item - About us -->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'pages:about_us' %}">
			<i class="fas fa-fw fa-info"></i>
			<span>About us</span></a
		>
	</li>

	<!-- Nav Item - Contact us -->
	<li class="nav-item">
		<a class="nav-link" href="{% url 'pages:contact_us' %}">
			<i class="fas fa-fw fa-phone"></i>
			<span>Contact us</span></a
		>
	</li>

	<!-- Divider -->
	<hr class="sidebar-divider d-none d-md-block" />

	<!-- Sidebar Toggler (Sidebar) -->
	<div class="text-center d-none d-md-inline">
		<button class="rounded-circle border-0" id="sidebarToggle"></button>
	</div>
</ul>

{% endif %}