{% extends "base/base.html" %}
{% load static %}
{% block page_title%}Ingredients{% endblock page_title %}

{% block page_content %}
<!-- Page Heading -->
<div class="d-flex flex-row align-items-center justify-content-between mb-4">
	<div>
		<h1 class="h3 mb-0 text-gray-800">Ingredients list</h1>
	</div>
	<div>
		<a
			class="btn btn-outline-primary"
			href="{% url 'products:ingredient_create' %}"
			>Add ingredient</a
		>
	</div>
</div>

<div>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Naziv</th>
				<th scope="col">Šifra</th>
				<th scope="col">Cijena (€)</th>
				<th scope="col">Akcije</th>
			</tr>
		</thead>
		<tbody>
            {% for ingredient in ingredients %}
            <tr>
				<th scope="row">
                    <a href="{% url 'products:ingredient_details' ingredient.pk %}" class="fs-3 text-decoration-none">
                        {{ ingredient.name }}
                    </a>

                </th>
				<td>{{ ingredient.code }}</td>
				<td>{{ ingredient.total_price | floatformat:2 }} €</td>
				<td>
                    <a href="{% url 'products:ingredient_details' ingredient.pk %}" class="fs-3 text-decoration-none">
                        <i class="bi bi-info-square text-info"></i>
                    </a>
                    <a href="{% url 'products:ingredient_update' ingredient.pk %}" class="fs-3 text-decoration-none">
                        <i class="bi bi-pencil-square text-success"></i>
                    </a>
                    <a href="{% url 'products:ingredient_delete' ingredient.pk %}" class="fs-3 text-decoration-none">
                        <i class="bi bi-x-square text-danger"></i>
                    </a>
                </td>
			</tr>
            {% empty %}
            <tr>
				<th></th>
				<td></td>
				<td></td>
				<td>Actions</td>
			</tr>
            {% endfor %}

		</tbody>
	</table>

</div>

{% endblock page_content %}
